#menu {
  background-color: orange;
  width: 700px;
  height: 500px;
  position: relative;
}
li {
  list-style-type: none;
  background-color: pink;
  width: 150px;
  height: 100px;
  margin-top: 20px;
  position: absolute;
}
#menu .col {
  background-color: white;
  width: 20px;
  height: 500px;
  margin-left: 50%;
  position: relative;
}
.parent {
  position: absolute;
  top: 20%;
}
p {
  color: white;
  margin-top: 20px;
}
.circle {
  height: 50px;
  width: 50px;
  background-color: #555;
  border-radius: 50%;
  position: absolute;
}
.col div:nth-child(1) {
  top: 50%;
  left: -15px;
}
.col div:nth-child(2) {
  top: 20%;
  left: -15px;
}
.col div:nth-child(3) {
  top: 80%;
  left: -15px;
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #555;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -10px;
  top: 80px;
}
li:nth-child(1) {
  top: -100px;
  right: -550px;
}
li:nth-child(3) {
  top: 200px;
  right: -550px;
}
li:nth-child(2) {
  top: 50px;
  right: -200px;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid #555;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: 150px;
  top: 80px;
}